{% extends 'template.html' %} 
{% load static %}

{% block content %}
    <body style="background-size: cover; background-repeat: no-repeat;" background="{% static 'images/gambar.jpg' %}">
        <div class="card-satu" >
            <h4 class="headline mt-5" >Selamat Datang</h4>
            <br>
            <p class="text1 mt-5">Website ini digunakan untuk membooking jadwal nikah di Masjid Raya Baiturrahman, Banda Aceh  </p>
            <p class="text1" style="margin-left: 30rem;">Perlu bantuan? </p>
            <form action="{% url 'help' %}">
                <div class="button">
                    <button type="submit" name="login" class="text3 " style="background-color: #406882; width:150px; height:45px; border-radius: 20px;" >Help</button>
                </div>
            </form>
        </div>
    </body>
{% endblock %}